:root {
  --highlight: #ffe600;
  --dark: #555;
  --button: #6DC9F6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header,
main,
.footer-content {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

footer {
  background-color: #000;
  color: white;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
}

.footer-content > * + * {
  margin-top: .5em;
}

.footer-content > p {
  font-size: .8em;
}

.flow {
  --flow-space: 1.5em;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

h1 {
  margin: .5em 0;
  font-size: 2rem;
  line-height: 1.25em;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1rem;
}

.more-detail {
  display: block;
  line-height: 1.25em;
  font-size: .85rem;
  font-weight: normal;
  color: rgb(105, 105, 105);
  margin: .5em 0 -.5em 0;
}

.more-detail + br {
  display: none;
}

textarea,
input {
  max-width: 60ch;
  min-width: 100%;
  /* margin: .5em 0; */
  padding: .5em .5em;
}

button {
  font-weight: bold;
  padding: .5em 1em;
  background-color: var(--button);
  color: black;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  display: block;
}

button:active {
  transform: translateX(3px) translateY(3px);
  box-shadow: initial;
}

table {
  max-width: 60ch;
  min-width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

table,
th,
td,
textarea,
input {
  border: 1px solid #555;
  line-height: 2em;
}

textarea,
input {
  border-width: 2px;
}

table,
tr,
td,
th {
  border-top: none;
  border-left: none;
  border-right: none;
}

th {
  text-align: left;
}

th:nth-child(3),
th:nth-child(4),
td:nth-child(3),
td:nth-child(4) {
  text-align: right;
}

.flags > svg {
  height: 1em;
}

details {
  background-color: #eee;
  border: 2px solid var(--dark);
  margin-bottom: 1em;
  font-size: .9em
}

details > summary {
  cursor: pointer;
  padding: .5em;
}

details > *:not(summary) {
  margin: 1em;
}

details > * + * {
  margin-top: 1em
}

details > ul {
  list-style-type: disc;
}

details h2,
details h3 {
  font-size: 1rem;
  display: inline-block;
}

details h3 {
  margin-bottom: 0;
}

a:focus {
  background-color: var(--highlight);
  box-shadow: 0 -2px var(--highlight), 0 4px var(--dark);
  text-decoration: none;
  outline: none;
}

input:focus,
textarea:focus,
summary:focus {
  outline: 4px solid var(--highlight);
  outline-offset: 0px;
}

summary:focus {
  outline: 4px solid var(--highlight);
  outline-offset: 2px;
}

button:focus {
  background-color: var(--highlight)
}
